[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
alembic = "*"
psycopg2-binary = "*"
python-dotenv = "*"
fastapi = "*"
uvicorn = { extras = ["standard"], version = "*" }
pyjwt = "*"
requests = "*"
pydantic = "*"

[dev-packages]
pylint = "*"
pytest = "*"
coverage = "*"
sqlalchemy-stubs = "*"

[requires]
python_version = "3.7"

[scripts]
lint = "bash -c 'pylint src && pylint ./tests'"
unit-test = "python -m coverage run -m pytest tests"
coverage-report = "coverage report -m --fail-under=90 --omit=tests/*,src/config/db.py"
migrate = "alembic upgrade head"
start = "uvicorn src.main:app --reload"
