[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
alembic = "*"
requests = "*"

[dev-packages]
pylint = "*"
pytest = "*"
coverage = "*"
sqlalchemy-stubs = "*"

[requires]
python_version = "3.7"

[scripts]
lint = "bash -c 'pylint src && pylint ./tests'"
unit-test = "python -m coverage run -m pytest tests"
coverage-report = "coverage report -m --fail-under=90 --omit=src/currencies/services/coinbase_service.py"
